.footer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../../assets/bg-footer.jpg);
}

.footer__tools {
    display: flex;
    flex-direction: column;
    gap: 20px;
}